.map {
    height: 500px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0,0,0,.5);
}

.leaflet-container {
    height: 100%;
}

.info__container {
    width: 100%;
}

.info__flag {
    height: 80px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.info__flag img{
    width: 100px;
    border-radius: 5px;
}

.info__countryName {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.info__confirmed, .info__recovered, .info__deaths {
    margin-top: 5px;
    font-size: 16px;
}